<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Tabungan</title>

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body class="container">
    <div>
        <div class="text-center h1 p-5">Daftar Tabungan</div>
        <div class="m-3">
            <a th:href="@{/}"><button class="btn btn-warning">kembali</button></a>
        </div>
        <div th:each="saving: ${savings}" class="m-3 card">
            <div class="card-body">
                <div>Nama Tabungan : <span th:text="${saving.nama}"></span></div>
                <div>Saldo Tabungan : <span th:text="${saving.saldo}"></span></div>
                <div th:if="${saving.transaction.size()==0}">
                    Tidak ada transaksi untuk tabungan ini.
                </div>
                <div th:unless="${saving.transaction.size()==0}">
                    <div th:each="transaksi:${saving.transaction}">
                        <div>Jenis Transaksi : <span th:text="${transaksi.jenis}"></span> , Nominal Transaksi : <span th:text="${transaksi.nominal}"></span> , Tanggal Transaksi : <span th:text="${transaksi.tanggalTransaksi}"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>